<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Basic_Express2</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h2>Explore Express & Databases</h2>
<a href="/delete">
  <button style=background-color:blue>Delete</button>
</a>
<a href="/create">
  <button style=background-color:blue>create</button>
</a>
<a href="/allusers">
  <button style=background-color:blue>All Users</button>
</a>
<a href="/oneuser">
  <button style=background-color:blue>Find One</button>
</a>

  </body>
</html>