<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Basic_Express2</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h2>Explore Express & Databases</h2>
<a href="/delete">
  <button style=background-color:blue>Delete</button>
</a>
<a href="/create">
  <button style=background-color:blue>create</button>
</a>
<a href="/allusers">
  <button style=background-color:blue>All Users</button>
</a>
<a href="/oneuser">
  <button style=background-color:blue>Find One</button>
</a>

<h2>Cookies & session </h2>
<a href="/login">
  <button style=background-color:blue>login and make session</button>
</a>
<a href="/checksession">
  <button style=background-color:blue>check session in terminal</button>
</a>
<a href="/logout">
  <button style=background-color:blue>logout and delete session</button>
</a>


<a href="/sendcookie">
  <button style=background-color:blue>send cookie</button>
</a>

<a href="/read">
  <button style=background-color:blue>read the cookie</button>
</a>


</body>
</html>